{
  "bot_token":"Your bot token",
  "owner_id":"Your owner id",

   This ones are for testing purposes, you can leave them empty

  "testing_owner_id": "",
  "testing_bot_token": "",

  "description": "This bot is full of fluff! It is literally made out of it! No, but honestly, if you are looking for the most retarded bot in the universe, you have come to the right place.",
  "default_status": "//help for a list of commands",

  "command_prefix":"//",

  "imgur_client_id":"Your imgur client id",
  "imgur_client_secret":"Your imgur client secret",

  "consumer_key":"Twitter consumer key",
  "consumer_secret":"Twitter consumer secret",
  "access_token":"Twitter access token",
  "access_token_secret":"Twitter access token secret",

  "google_id":"Your google id",

  "extensions": {
       The cogs you want to have, for example, if you want to disable one, just delete it from here
       "name_of_the_cog":"cogs.fileName"

    "fun"               :   "cogs.Fun_commands",
    "derpiBooru"        :   "cogs.DerpiBooru",
    "e926"              :   "cogs.e926",
    "reddit"            :   "cogs.Reddit",
    "google"            :   "cogs.googlemodule",
    "wikipedia"         :   "cogs.wikipedia",
    "useful"            :   "cogs.useful_commands",
    "tags"              :   "cogs.tags",
    "greetingModule"    :   "cogs.GreetingModule",
    "roleManager"       :   "cogs.roleManager",
    "testCog"           :   "cogs.test",
    "twitter"           :   "cogs.utils.TwitterManager",
    "help"              :   "cogs.HelpModule"
  },

  "dependencies":{
    The dependencies you want to have, I'd advice you not to touch this if you don't know what you're doing
    "event_manager": "Core.FluffyEventSystem"
  },

  "birds_to_follow":{
    It's for the twitter plugin, if you want to make the bot follow someone, just add his name and ID here
    "like": "this"
  }
}